#### Imports

In [2]:
import networkx as nx
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

In [3]:
names = ['Airline', 'Airline_ID', 'Source', 
         'Source_ID', 'Destination', 'Destination_ID', 
         'Codeshare', 'Stops', 'Equipment']
routes = pd.read_csv('data/routes.dat.txt', header=None, names=names)

In [4]:
planes = pd.read_csv('data/planes_cap.csv')

In [5]:
routes.head()

,Airline,Airline_ID,Source,Source_ID,Destination,Destination_ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [6]:
planes.head()

,Unnamed: 0,Name,Code3,Code4,Model,Capacity
0,0,Aerospatiale/Alenia ATR 42-300,AT4,AT43,"['ATR 42', 'ATR 42-500']",46.0
1,1,Aerospatiale/Alenia ATR 42-500,AT5,AT45,"['ATR 42', 'ATR 42-500']",46.0
2,2,Aerospatiale/Alenia ATR 72,AT7,AT72,['ATR 72'],66.0
3,3,Airbus A300,AB3,A30B,"['A 300', 'A300-B2/B4', 'A300-600']",360.0
4,4,Airbus A300-600,AB6,A306,"['A 300', 'A300-B2/B4', 'A300-600']",360.0

In [7]:
planes = planes.drop('Unnamed: 0', axis=1)

In [8]:
planes = planes.rename({'Code3':'Equipment'}, axis = 1)

In [9]:
planes.head()

,Name,Equipment,Code4,Model,Capacity
0,Aerospatiale/Alenia ATR 42-300,AT4,AT43,"['ATR 42', 'ATR 42-500']",46.0
1,Aerospatiale/Alenia ATR 42-500,AT5,AT45,"['ATR 42', 'ATR 42-500']",46.0
2,Aerospatiale/Alenia ATR 72,AT7,AT72,['ATR 72'],66.0
3,Airbus A300,AB3,A30B,"['A 300', 'A300-B2/B4', 'A300-600']",360.0
4,Airbus A300-600,AB6,A306,"['A 300', 'A300-B2/B4', 'A300-600']",360.0

Merge routes with capacity

In [10]:
routeCap = routes.merge(planes, on = 'Equipment')

Create the graph

In [11]:
G = nx.Graph()

In [12]:
for i in range(len(routeCap)):
    temp = routeCap.iloc[i,:]
    source = temp['Source']
    dest = temp['Destination']
    company = temp['Airline']
    cap = temp['Capacity']
    
    G.add_edge(source, dest, capacity = cap, name = company)

All paths with a maximum depth of two from TPA to ORD

In [13]:
paths = list(nx.all_simple_paths(G,'TPA','ORD',cutoff=2))

Extract and print info for each path. Could be changed to output only the answers to the questions.

In [21]:
for path in paths:
    if len(path) == 3:
        leg1 = G.get_edge_data(path[0],path[1])
        leg2 = G.get_edge_data(path[1],path[2])
        carrier1 = leg1['name']
        carrier2 = leg2['name']
        cap1 = leg1['capacity']
        cap2 = leg2['capacity']
        maxFlow = min(cap1,cap2)
        print('\nPath with one layover\n',
              f'leg 1:{path[0]} to {path[1]}, carrier: {carrier1}, capacity: {cap1}\n',
              f'leg 1:{path[1]} to {path[2]}, carrier: {carrier2}, capacity: {cap2}\n',
              f'Maximum flow: {maxFlow}\n')
    else:
        leg = G.get_edge_data(path[0],path[1])
        carrier = leg1['name']
        cap = leg1['capacity']
        print('\nDirect path\n',
              f'leg 1:{path[0]} to {path[1]}, carrier: {carrier}, capacity: {cap}\n',
              f'Maximum flow: {cap}\n')

Path with one layover
 leg 1:TPA to ACY, carrier: NK, capacity: 142.0
 leg 1:ACY to ORD, carrier: NK, capacity: 142.0
 Maximum flow: 142.0


Path with one layover
 leg 1:TPA to DTW, carrier: NK, capacity: 142.0
 leg 1:DTW to ORD, carrier: DL, capacity: 117.0
 Maximum flow: 117.0


Direct path
 leg 1:TPA to ORD, carrier: NK, capacity: 142.0
 Maximum flow: 142.0


Path with one layover
 leg 1:TPA to FLL, carrier: UA, capacity: 35.0
 leg 1:FLL to ORD, carrier: US, capacity: 189.0
 Maximum flow: 35.0


Path with one layover
 leg 1:TPA to BOS, carrier: B6, capacity: 179.0
 leg 1:BOS to ORD, carrier: US, capacity: 189.0
 Maximum flow: 179.0


Path with one layover
 leg 1:TPA to LGA, carrier: B6, capacity: 179.0
 leg 1:LGA to ORD, carrier: US, capacity: 189.0
 Maximum flow: 179.0


Path with one layover
 leg 1:TPA to SJU, carrier: B6, capacity: 179.0
 leg 1:SJU to ORD, carrier: US, capacity: 189.0
 Maximum flow: 179.0


Path with one layover
 leg 1:TPA to LAX, carrier: DL, capacity: 179.0
 leg 1:LAX to ORD, carrier: US, capacity: 189.0
 Maximum flow: 179.0


Path with one layover
 leg 1:TPA to DFW, carrier: NK, capacity: 179.0
 leg 1:DFW to ORD, carrier: NK, capacity: 179.0
 Maximum flow: 179.0


Path with one layover
 leg 1:TPA to MIA, carrier: US, capacity: 189.0
 leg 1:MIA to ORD, carrier: UA, capacity: 74.0
 Maximum flow: 74.0


Path with one layover
 leg 1:TPA to GCM, carrier: KX, capacity: 149.0
 leg 1:GCM to ORD, carrier: KX, capacity: 149.0
 Maximum flow: 149.0


Path with one layover
 leg 1:TPA to ZRH, carrier: LX, capacity: 412.0
 leg 1:ZRH to ORD, carrier: UA, capacity: 412.0
 Maximum flow: 412.0


Path with one layover
 leg 1:TPA to JFK, carrier: US, capacity: 74.0
 leg 1:JFK to ORD, carrier: DL, capacity: 86.0
 Maximum flow: 74.0


Path with one layover
 leg 1:TPA to ATL, carrier: FL, capacity: 117.0
 leg 1:ATL to ORD, carrier: AZ, capacity: 172.0
 Maximum flow: 117.0


Path with one layover
 leg 1:TPA to DAY, carrier: WN, capacity: 117.0
 leg 1:DAY to ORD, carrier: US, capacity: 50.0
 Maximum flow: 50.0


Path with one layover
 leg 1:TPA to CVG, carrier: DL, capacity: 172.0
 leg 1:CVG to ORD, carrier: US, capacity: 50.0
 Maximum flow: 50.0

In [63]:
def getMaxFlow(s,d,depth = 2):
    paths = list(nx.all_simple_paths(G,s,d,cutoff=depth))
    mCap = 0
    mPath = []
    mLay = 0
    for path in paths:
        legs = []
        layovers = len(path)-2
        for i in range(len(path)-1):
            leg = G.get_edge_data(path[i],path[i+1])
            leg['source'] = path[i]
            leg['dest'] = path[i+1]
            legs.append(leg)
        tCap = []
        for leg in legs:
            tCap.append(leg['capacity'])
        if min(tCap) > mCap:
            mCap = min(tCap)
            mPath = legs
            mLay = layovers
    print(f'For a trip from {s} to {d}\n',
          f'The maximum capacity is {mCap} with {mLay} layovers\n',
          '#################### ITINERARY ####################')
    for i in range(len(mPath)):
        leg = mPath[i]
        source = leg['source']
        dest = leg['dest']
        carrier = leg['name']
        capacity = leg['capacity']
        print(f'\n####################   Leg {i+1}   ####################\n',
              f'Source: {source}\n',
              f'Destination: {dest}\n',
              f'Carrier code: {carrier}',
              f'Capacity: {capacity}')

In [62]:
def getCarrierMax(s,d,depth = 2):
    paths = list(nx.all_simple_paths(G,s,d,cutoff=depth))
    possible = []
    for path in paths:
        legs = []
        carriers = set()
        layovers = len(path)-2
        for i in range(len(path)-1):
            leg = G.get_edge_data(path[i],path[i+1])
            leg['source'] = path[i]
            leg['dest'] = path[i+1]
            legs.append(leg)
            carriers.add(leg['name'])
        if len(carriers) == 1:
            possible.append(legs)
            
    mCap = 0
    mPath = []
    mCar = ''
    for i in range(len(possible)):
        legs = possible[i]
        caps = [x['capacity'] for x in legs]
        carrier = legs[0]['name']
        if min(caps) > mCap:
            mCap = min(caps)
            mPath = legs
            mCar = carrier
            
    print(f'For a trip from {s} to {d}\n',
          f'The maximum single carrier capacity is {mCap} with carrier {mCar}\n',
          '#################### ITINERARY ####################')
    for i in range(len(mPath)):
        leg = mPath[i]
        source = leg['source']
        dest = leg['dest']
        carrier = leg['name']
        capacity = leg['capacity']
        print(f'\n####################   Leg {i+1}   ####################\n',
              f'Source: {source}\n',
              f'Destination: {dest}\n',
              f'Carrier code: {carrier}',
              f'Capacity: {capacity}')

In [64]:
getMaxFlow('TPA','ORD',2)

For a trip from TPA to ORD
 The maximum capacity is 412.0 with 1 layovers
 #################### ITINERARY ####################

####################   Leg 1   ####################
 Source: TPA
 Destination: ZRH
 Carrier code: LX Capacity: 412.0

####################   Leg 2   ####################
 Source: ZRH
 Destination: ORD
 Carrier code: UA Capacity: 412.0

In [65]:
getCarrierMax('TPA','ORD',2)

For a trip from TPA to ORD
 The maximum single carrier capacity is 179.0 with carrier NK
 #################### ITINERARY ####################

####################   Leg 1   ####################
 Source: TPA
 Destination: DFW
 Carrier code: NK Capacity: 179.0

####################   Leg 2   ####################
 Source: DFW
 Destination: ORD
 Carrier code: NK Capacity: 179.0

# Laguardia (NY) to San Francisco International Airport

In [66]:
getMaxFlow('LGA','SFO',2)

For a trip from LGA to SFO
 The maximum capacity is 189.0 with 1 layovers
 #################### ITINERARY ####################

####################   Leg 1   ####################
 Source: LGA
 Destination: ORD
 Carrier code: US Capacity: 189.0

####################   Leg 2   ####################
 Source: ORD
 Destination: SFO
 Carrier code: US Capacity: 189.0

In [67]:
getCarrierMax('LGA','SFO',2)

For a trip from LGA to SFO
 The maximum single carrier capacity is 189.0 with carrier US
 #################### ITINERARY ####################

####################   Leg 1   ####################
 Source: LGA
 Destination: ORD
 Carrier code: US Capacity: 189.0

####################   Leg 2   ####################
 Source: ORD
 Destination: SFO
 Carrier code: US Capacity: 189.0

In [22]:
paths = list(nx.all_simple_paths(G,'LGA','SFO',cutoff=2))

In [23]:
for path in paths:
    if len(path) == 3:
        leg1 = G.get_edge_data(path[0],path[1])
        leg2 = G.get_edge_data(path[1],path[2])
        carrier1 = leg1['name']
        carrier2 = leg2['name']
        cap1 = leg1['capacity']
        cap2 = leg2['capacity']
        maxFlow = min(cap1,cap2)
        print('\nPath with one layover\n',
              f'leg 1:{path[0]} to {path[1]}, carrier: {carrier1}, capacity: {cap1}\n',
              f'leg 1:{path[1]} to {path[2]}, carrier: {carrier2}, capacity: {cap2}\n',
              f'Maximum flow: {maxFlow}\n')
    else:
        leg = G.get_edge_data(path[0],path[1])
        carrier = leg1['name']
        cap = leg1['capacity']
        print('\nDirect path\n',
              f'leg 1:{path[0]} to {path[1]}, carrier: {carrier}, capacity: {cap}\n',
              f'Maximum flow: {cap}\n')

Path with one layover
 leg 1:LGA to FLL, carrier: B6, capacity: 179.0
 leg 1:FLL to SFO, carrier: VX, capacity: 179.0
 Maximum flow: 179.0


Path with one layover
 leg 1:LGA to MCO, carrier: B6, capacity: 179.0
 leg 1:MCO to SFO, carrier: VX, capacity: 179.0
 Maximum flow: 179.0


Path with one layover
 leg 1:LGA to ORD, carrier: US, capacity: 189.0
 leg 1:ORD to SFO, carrier: US, capacity: 189.0
 Maximum flow: 189.0


Path with one layover
 leg 1:LGA to ATL, carrier: FL, capacity: 117.0
 leg 1:ATL to SFO, carrier: UA, capacity: 189.0
 Maximum flow: 117.0


Path with one layover
 leg 1:LGA to YYZ, carrier: US, capacity: 74.0
 leg 1:YYZ to SFO, carrier: UA, capacity: 179.0
 Maximum flow: 74.0


Path with one layover
 leg 1:LGA to CLT, carrier: DL, capacity: 74.0
 leg 1:CLT to SFO, carrier: US, capacity: 220.0
 Maximum flow: 74.0


Path with one layover
 leg 1:LGA to CVG, carrier: DL, capacity: 74.0
 leg 1:CVG to SFO, carrier: DL, capacity: 179.0
 Maximum flow: 74.0


Path with one layover
 leg 1:LGA to IND, carrier: DL, capacity: 74.0
 leg 1:IND to SFO, carrier: UA, capacity: 142.0
 Maximum flow: 74.0